<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.organization.mapper.OrEventMapper">
    
    <resultMap type="OrEvent" id="OrEventResult">
        <result property="id"    column="id"    />
        <result property="eventType"    column="event_type"    />
        <result property="specificEvent"    column="specific_event"    />
        <result property="eventPosition"    column="event_position"    />
        <result property="eventContent"    column="event_content"    />
        <result property="submissionTime"    column="submission_time"    />
        <result property="incidentTime"    column="incident_time"    />
        <result property="injuredPerson"    column="injured_person"    />
        <result property="deadPerson"    column="dead_person"    />
        <result property="economic"    column="economic"    />
        <result property="remarks"    column="remarks"    />
        <result property="img"    column="img"    />
        <result property="status"    column="status"    />
        <result property="urgency"    column="urgency"    />
        <result property="influence"    column="influence"    />
    </resultMap>

    <sql id="selectOrEventVo">
        select id, event_type, specific_event, event_position, event_content, submission_time, incident_time, injured_person, dead_person, economic, remarks, img, status, urgency, influence from or_event
    </sql>

    <select id="selectOrEventList" parameterType="OrEvent" resultMap="OrEventResult">
        <include refid="selectOrEventVo"/>
        <where>  
            <if test="eventType != null  and eventType != ''"> and event_type = #{eventType}</if>
            <if test="specificEvent != null  and specificEvent != ''"> and specific_event = #{specificEvent}</if>
            <if test="eventPosition != null  and eventPosition != ''"> and event_position = #{eventPosition}</if>
            <if test="eventContent != null  and eventContent != ''"> and event_content = #{eventContent}</if>
            <if test="submissionTime != null "> and submission_time = #{submissionTime}</if>
            <if test="incidentTime != null "> and incident_time = #{incidentTime}</if>
            <if test="injuredPerson != null "> and injured_person = #{injuredPerson}</if>
            <if test="deadPerson != null "> and dead_person = #{deadPerson}</if>
            <if test="economic != null "> and economic = #{economic}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="urgency != null  and urgency != ''"> and urgency = #{urgency}</if>
            <if test="influence != null  and influence != ''"> and influence = #{influence}</if>
        </where>
    </select>
    
    <select id="selectOrEventById" parameterType="Long" resultMap="OrEventResult">
        <include refid="selectOrEventVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOrEvent" parameterType="OrEvent">
        insert into or_event
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="eventType != null">event_type,</if>
            <if test="specificEvent != null">specific_event,</if>
            <if test="eventPosition != null">event_position,</if>
            <if test="eventContent != null">event_content,</if>
            <if test="submissionTime != null">submission_time,</if>
            <if test="incidentTime != null">incident_time,</if>
            <if test="injuredPerson != null">injured_person,</if>
            <if test="deadPerson != null">dead_person,</if>
            <if test="economic != null">economic,</if>
            <if test="remarks != null">remarks,</if>
            <if test="img != null">img,</if>
            <if test="status != null">status,</if>
            <if test="urgency != null">urgency,</if>
            <if test="influence != null">influence,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="eventType != null">#{eventType},</if>
            <if test="specificEvent != null">#{specificEvent},</if>
            <if test="eventPosition != null">#{eventPosition},</if>
            <if test="eventContent != null">#{eventContent},</if>
            <if test="submissionTime != null">#{submissionTime},</if>
            <if test="incidentTime != null">#{incidentTime},</if>
            <if test="injuredPerson != null">#{injuredPerson},</if>
            <if test="deadPerson != null">#{deadPerson},</if>
            <if test="economic != null">#{economic},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="img != null">#{img},</if>
            <if test="status != null">#{status},</if>
            <if test="urgency != null">#{urgency},</if>
            <if test="influence != null">#{influence},</if>
         </trim>
    </insert>

    <update id="updateOrEvent" parameterType="OrEvent">
        update or_event
        <trim prefix="SET" suffixOverrides=",">
            <if test="eventType != null">event_type = #{eventType},</if>
            <if test="specificEvent != null">specific_event = #{specificEvent},</if>
            <if test="eventPosition != null">event_position = #{eventPosition},</if>
            <if test="eventContent != null">event_content = #{eventContent},</if>
            <if test="submissionTime != null">submission_time = #{submissionTime},</if>
            <if test="incidentTime != null">incident_time = #{incidentTime},</if>
            <if test="injuredPerson != null">injured_person = #{injuredPerson},</if>
            <if test="deadPerson != null">dead_person = #{deadPerson},</if>
            <if test="economic != null">economic = #{economic},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="img != null">img = #{img},</if>
            <if test="status != null">status = #{status},</if>
            <if test="urgency != null">urgency = #{urgency},</if>
            <if test="influence != null">influence = #{influence},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrEventById" parameterType="Long">
        delete from or_event where id = #{id}
    </delete>

    <delete id="deleteOrEventByIds" parameterType="String">
        delete from or_event where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>